title: https://raw.githubusercontent.com/orderigo/walonearfurniture/6b9685099f9085d35417895db9f5445458012262/src/index.css

@import "@fontsource-variable/manrope";
@import 'tailwindcss';
@plugin "daisyui";


:root {
  --font-sans: "Manrope Variable", sans-serif;
}

body {
  font-family: var(--font-sans);
}